@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons

<div class="sample">
    <SfButtonGroup>
        <Button>View</Button>
        <Button>Edit</Button>
        <Button>Delete</Button>
    </SfButtonGroup>
    <SfButtonGroup Mode="SelectionMode.Single">
        <Button CssClass=@css1>Left</Button>
        <Button CssClass=@css2>Center</Button>
        <Button CssClass=@css3>Right</Button>
    </SfButtonGroup>
    <SfButtonGroup Mode="SelectionMode.Multiple">
        <Button CssClass=@css4>Bold</Button>
        <Button CssClass=@css4>Italic</Button>
        <Button CssClass=@css4>Underline</Button>
    </SfButtonGroup>
    <SfButtonGroup Mode="SelectionMode.Multiple">
        <Button Selected="true">Bold</Button>
        <Button>Italic</Button>
        <Button>Underline</Button>
    </SfButtonGroup>
</div>

<style>
    .buttongroup-button-width {
        width: 120px;
    }

    .buttongroup-top-margin {
        margin-top: 1.5rem;
    }
</style>
@code{
    public string watch = "bg-icons e-btngrp-watch";
    public string star = "bg-icons e-btngrp-star";
    public string download = "bg-icons e-btngrp-download";
    [Parameter]
    public string icon_css1 {get;set;}="bg-icons e-btngrp-watch";
    [Parameter]
    public string css_class1{get;set;}="e-btn e-success";
    [Parameter]
    public IconPosition icon_position1{get;set;}=IconPosition.Top;
    [Parameter]
    public bool disabled1{get;set;}=true;
    [Parameter]
    public string rtl_class1{get;set;}="e-rtl";
    [Parameter]
    public string css1 {get;set;}="";
    [Parameter]
    public string css2 {get;set;}="";
    [Parameter]
    public string css3 {get;set;}="";
    [Parameter]
    public string css4 {get;set;}="";


}