@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons

<div class="sample">
    <SfButtonGroup>
        <ButtonGroupButton>View</ButtonGroupButton>
        <ButtonGroupButton>Edit</ButtonGroupButton>
        <ButtonGroupButton>Delete</ButtonGroupButton>
    </SfButtonGroup>
    <SfButtonGroup Mode="SelectionMode.Single">
        <ButtonGroupButton CssClass=@css1>Left</ButtonGroupButton>
        <ButtonGroupButton CssClass=@css2>Center</ButtonGroupButton>
        <ButtonGroupButton CssClass=@css3>Right</ButtonGroupButton>
    </SfButtonGroup>
    <SfButtonGroup Mode="SelectionMode.Multiple">
        <ButtonGroupButton CssClass=@css4>Bold</ButtonGroupButton>
        <ButtonGroupButton CssClass=@css4>Italic</ButtonGroupButton>
        <ButtonGroupButton CssClass=@css4>Underline</ButtonGroupButton>
    </SfButtonGroup>
    <SfButtonGroup Mode="SelectionMode.Multiple">
        <ButtonGroupButton Selected="true">Bold</ButtonGroupButton>
        <ButtonGroupButton>Italic</ButtonGroupButton>
        <ButtonGroupButton>Underline</ButtonGroupButton>
    </SfButtonGroup>
</div>

<style>
    .buttongroup-button-width {
        width: 120px;
    }

    .buttongroup-top-margin {
        margin-top: 1.5rem;
    }
</style>
@code{
    public string watch = "bg-icons e-btngrp-watch";
    public string star = "bg-icons e-btngrp-star";
    public string download = "bg-icons e-btngrp-download";
    [Parameter]
    public string icon_css1 {get;set;}="bg-icons e-btngrp-watch";
    [Parameter]
    public string css_class1{get;set;}="e-btn e-success";
    [Parameter]
    public IconPosition icon_position1{get;set;}=IconPosition.Top;
    [Parameter]
    public bool disabled1{get;set;}=true;
    [Parameter]
    public string rtl_class1{get;set;}="e-rtl";
    [Parameter]
    public string css1 {get;set;}="";
    [Parameter]
    public string css2 {get;set;}="";
    [Parameter]
    public string css3 {get;set;}="";
    [Parameter]
    public string css4 {get;set;}="";


}