
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons
<div class="sample">
    <SfButtonGroup CssClass="e-btn-group">
        <ButtonGroupButton>View</ButtonGroupButton>
        <ButtonGroupButton>Edit</ButtonGroupButton>
    </SfButtonGroup>

    <SfButtonGroup CssClass="e-btn-group">
        <ButtonGroupButton CssClass="e-btn">View</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-btn">Edit</ButtonGroupButton>
    </SfButtonGroup>
</div>

