
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons
<div class="sample">
    <SfButtonGroup CssClass="e-btn-group">
        <Button>View</Button>
        <Button>Edit</Button>
    </SfButtonGroup>

    <SfButtonGroup CssClass="e-btn-group">
        <Button CssClass="e-btn">View</Button>
        <Button CssClass="e-btn">Edit</Button>
    </SfButtonGroup>
</div>

