@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons

<div class="sample">
    <SfButtonGroup>
        <Button CssClass="e-primary">View</Button>
        <Button CssClass="e-primary">Edit</Button>
        <Button CssClass="e-primary">Delete</Button>
    </SfButtonGroup>
    <SfButtonGroup>
        <Button CssClass="e-success">View</Button>
        <Button CssClass="e-success">Edit</Button>
        <Button CssClass="e-success">Delete</Button>
    </SfButtonGroup>
    <SfButtonGroup>
        <Button CssClass="e-info">View</Button>
        <Button CssClass="e-warning">Edit</Button>
        <Button CssClass="e-danger">Delete</Button>
    </SfButtonGroup>
</div>