@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons

<div class="sample">
    <SfButtonGroup>
        <ButtonGroupButton CssClass="e-primary">View</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-primary">Edit</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-primary">Delete</ButtonGroupButton>
    </SfButtonGroup>
    <SfButtonGroup>
        <ButtonGroupButton CssClass="e-success">View</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-success">Edit</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-success">Delete</ButtonGroupButton>
    </SfButtonGroup>
    <SfButtonGroup>
        <ButtonGroupButton CssClass="e-info">View</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-warning">Edit</ButtonGroupButton>
        <ButtonGroupButton CssClass="e-danger">Delete</ButtonGroupButton>
    </SfButtonGroup>
</div>