@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons

<SfButtonGroup>
    <Button>View</Button>
    <Button>Edit</Button>
    <Button>Delete</Button>
</SfButtonGroup>
<SfButtonGroup CssClass="e-outline">
    <Button CssClass="e-outline">View</Button>
    <Button CssClass="e-outline">Edit</Button>
    <Button CssClass="e-outline">Delete</Button>
</SfButtonGroup>