@using Syncfusion.Blazor.Toolkit.Buttons
@using Syncfusion.Blazor.Toolkit.Inputs

@namespace Syncfusion.Blazor.Toolkit.Tests.Inputs

<div class="sample">
    <SfCheckBox Checked="true" Label="Checked as True"></SfCheckBox>
    <SfCheckBox Checked="false" Label="Checked as False" LabelPosition="@LabelPosition.Before"></SfCheckBox>
    <label for="custom">Custom label</label>
    <SfCheckBox id="custom" Checked="true"></SfCheckBox>
</div>