@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.Blazor.Toolkit.Inputs
@using System.ComponentModel.DataAnnotations

@namespace Syncfusion.Blazor.Toolkit.Tests.Inputs

<EditForm EditContext="valiationMessageContext"> 
        <DataAnnotationsValidator /> 
        <label>IsEnable: </label> 
        <SfSwitch @bind-Checked="valiationMessageModel.IsChecked"></SfSwitch> 
        <ValidationMessage For="@(() => valiationMessageModel.IsChecked)" /> 
    </EditForm> 
 
@code { 
    private EditContext valiationMessageContext; 
    private SwitchModel valiationMessageModel = new SwitchModel(); 
 
    protected override Task OnInitializedAsync() 
    { 
        valiationMessageContext = new EditContext(valiationMessageModel); 
        return base.OnInitializedAsync(); 
    } 
 
    public class SwitchModel 
    { 
        [Required] 
        [Range(typeof(bool), "true", "true", ErrorMessage = "This form disallows unapproved ships.")] 
        public bool IsChecked { get; set; } 
    } 
} 