@using Syncfusion.Blazor.Toolkit.Inputs

@namespace Syncfusion.Blazor.Toolkit.Tests.Inputs

<div class="sample">
    <SfSwitch Checked="true" CssClass="e-small"></SfSwitch>
    <SfSwitch Checked="true" CssClass="e-bigger"></SfSwitch>
    <SfSwitch Checked="true" CssClass="e-bigger e-small"></SfSwitch>
</div>