@using Syncfusion.Blazor.Toolkit.Popups

@namespace Syncfusion.Blazor.Toolkit.Tests.Dialog

<SfDialog Width="400px" ShowCloseIcon="true">
    <DialogTemplates>
        <Header> <div> Header Template </div> </Header>
        <Content> <div> "Are you sure you want to permanently delete these items?", "Delete Multiple Items" </div> </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="yes" IsPrimary="false" />
        <DialogButton Content="no" IsPrimary="true" />
    </DialogButtons>
</SfDialog>
