@using Syncfusion.Blazor.Toolkit.Popups

@namespace Syncfusion.Blazor.Toolkit.Tests.Dialog

<div id="dialogContainer" style="height: 450px; position: relative;">
    <SfDialog IsModal="true">
        <DialogTemplates>
            <Header> <div> Header Template </div> </Header>
            <Content> <div> Content Template </div> </Content>
            <FooterTemplate><div> Testing Footer template</div></FooterTemplate>
        </DialogTemplates>
    </SfDialog>
</div>