@using Syncfusion.Blazor.Toolkit.Popups

@namespace Syncfusion.Blazor.Toolkit.Tests.Dialog

<div id="dialogContainer" style="height: 450px; position: relative;">
    <SfDialog IsModal="true">
        <button class="e-btn">Close Dialog</button>
    </SfDialog>
</div>