@using Syncfusion.Blazor.Toolkit
@using Syncfusion.Blazor.Toolkit.Inputs

@namespace Syncfusion.Blazor.Toolkit.Tests.Inputs

<div class="sample">
   <SfRadioButton CssClass="e-small" Label="Credit card" TChecked="bool"></SfRadioButton>
   <SfRadioButton CssClass="e-bigger" Label="Credit card" TChecked="bool"></SfRadioButton>
   <SfRadioButton CssClass="e-bigger e-small" Label="Credit card" TChecked="bool"></SfRadioButton>
</div>