<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Blazor Toolkit Playwright Testing Samples</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blazor.Toolkit.Playwright.Samples.styles.css" />
    @* Add syncfusion blazor toolkit style reference *@
    <link href="_content/Syncfusion.Blazor.Toolkit/styles/fluent.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

