@page "/spinner/multiple"
@using Syncfusion.Blazor.Toolkit.Spinner

<h3 id="multiple-ready">Spinner Multiple Ready</h3>

<SfSpinner Visible="true" />
<SfSpinner Visible="true" />
<SfSpinner Visible="true" />