@page "/TemplateTooltip"

@using Syncfusion.Blazor.Toolkit.Buttons;
@using Syncfusion.Blazor.Toolkit.Popups;
@using System.Text.Json;
@using System.Text.Json.Serialization;

<SfTooltip CssClass="e-tooltip-css" OpensOn="Click" Target="#btn" @ref="templateInstance">
    <ContentTemplate>
        <content>
            <div id='democontent' class='democontent'>
                <div class='info'>
                    <h3 style='margin-top:10px'>Eastern Bluebird <hr style='margin-top:10px'></h3>
                    <div style='margin-top: -10px'>
                        <div style='float:left;width:57%'>
                            The<a href='https://en.wikipedia.org/wiki/Eastern_bluebird' target='blank'> Eastern Bluebird</a>
                            is easily found in open fields and sparse woodland areas, including along woodland edges.These are<i>cavity-nesting birds</i>and a pair of eastern bluebirds will raise 2-3 broods annually, with 2-8 light blue or whitish eggs per brood.
                        </div>
                        <div id='bird' style='float:right;width:42%'><img src='https://blazor.syncfusion.com/demos/css/tooltip/bird.png' width='125' height='125' /></div>
                    </div>
                    <div style='margin-top:160px'>
                        <hr><p style='margin-top:-11px'> Eastern bluebirds can be very vocal in flocks.Their calls include a rapid, mid-tone chatter and several long dropping pitch calls.</p>
                    </div><p>Source:<br /><a href='https://en.wikipedia.org/wiki/Eastern_bluebird' target='_blank'>https://en.wikipedia.org/wiki/Eastern_bluebird</a></p>
                </div>
            </div>
        </content>
    </ContentTemplate>
</SfTooltip>


@code {
    public SfTooltip templateInstance;
}

